<body>
  <div class="text-center a"><h2>Home</h2></div>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><h3 class='text-center'>Welcome {{user}}</h3></strong> 
  </div>
 <style>
 .jumbotron{
  border: 2px solid #4d4d4d;
  margin: auto;
  background-color: #ccccc0;
}

h2{
  color: red;
  font-size:48px;
  font-weight: bold;
  text-shadow: 0 6px 4px #00ffee,
        -3px -5px 4px #fff23f,
         3px -5px 4px #ffffff;
}
h3{
color: blue;
font-weight: bold;
text-shadow: 0 6px 4px #00fff3,
        -3px -5px 4px #fff23f,
         3px -5px 4px #ffffff;}
body{
background-color: #999966;
background-image: url(FoodBack.jpg);
}

h2:hover{
  transform: scale(1.2);
  }
.a {
  font-family: "Times New Roman", Times, serif;
}

.b {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</body>